body{
    width: 100%;
    height: 100%;
    margin: auto;
}

#lines{
  color: whitesmoke;
  float: left;
}
.icon {
    text-align: left;
    position: relative;
    left: 50px;
    color: white;
    font-size: large;
}
.lunch {
    color: white;
    font-size: medium;
    height: 100px;
    width: 25%;
    padding-top: 50px;
    background-image: url('./Assets/lunch.jpg');
    text-align: center;
    background-size: cover;
    /* background-size: contain; */
    opacity: 0.4;
    
}

.dinner {
